rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && request.auth.token.email in [
          "admin@example.com"
        ];
    }

    match /members/{docId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /media/{docId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /bookings/{docId} {
      allow create: if request.resource.data.keys().hasOnly([
          "id", "name", "phone", "classType", "date", "time", "status"
        ])
        && request.resource.data.status == "대기";

      allow read, update, delete: if isAdmin();
    }
  }
}
